
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@200;300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: white;
    --text-primary: black;
    --text-secondary: royalblue;
    --accent: purple;
  }
  [data-theme='dark'] {
    --background: #202020;
    --text-primary: white;
    --text-secondary: grey;
    --accent: darkred;
  }
.About-Me{
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
}


html{
    box-sizing: border-box;
}

body{
    background-color: var(--background);
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    
    /* overflow: hidden; */
    

}
a{
    color: inherit;
}





/* About  */
.About-Container{
    color: var(--text-primary);
  
    margin-inline: 2%;

}




.Primary-Header {
    display:flex;
    justify-content: space-around;
    border-bottom:inset;
}
.Header-Logo{
    font-size: 2rem;
    font-family: 'Caveat', cursive;
    font-weight: 200;
    color: var( --text-primary);
}
.U-List{
    display: flex;
    
}
.Navbar-Links{
    margin-inline: 1rem;
    list-style: none;
}
.Navbar-A{
    text-decoration: none;
    font-weight:300;
    color:var( --text-primary);
    font-size: 1.3rem;
}
.Navbar-A:active{
    text-decoration: solid;
}
.Hire-Form{
    display: flex;
    flex-direction: column;
    margin: 1%;
    border-radius: 10px;
}
.submit-hire{
    display: inline-flex;
 padding: 2%;
 margin-left: 1% !;
}


/*  */
.Hero-Main{
    margin: 1rem;
display: flex;
justify-content: space-evenly;
border-bottom: inset;
}
.Hero-section{
    display: flex;
    justify-content: center;
align-items: center;
flex-direction: column;
}
.Hero-Writing{
    font-family: 'Caveat', cursive;
    color: var(--text-primary);
    font-size: 1.9rem;
}
.hero-img{
    height:500px;
    width:100%;
    object-fit: cover;
}


/*  */
.Project-Main{
    display: flex;
   overflow: hidden;
}
/*  */ 
#Contact{
    border:1px solid Black;
    display:flex;
    justify-content: space-evenly;
    /* flex-direction: column; */
    align-items: center;
}
.Contact-Details{
   color: var(--text-primary);

}
.Form{
    display: flex;
    flex-direction: column;
    margin: 0.1rem;
}
.Form-Label{
    font-size: 1.4rem;
    width:100%;
    padding: 0.1rem;
    border-bottom: inset;
    color: var( --text-primary);
}
.Form-Input{
    width:100%;

}

.Submit{
    display: flex;
    margin:2%;
    justify-content:center;
    align-items:center
}
.Contact-Right{
    flex-direction: column;
}
/*  */
.Socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    color: var(--text-primary);
}

/*  */
.Skills-Main{
    display: block;
    flex-direction: column;
    /* align-items: center; */

    margin: 2%;
    justify-content: center;
    width:100%;

}
.skills-tech{
    margin: 2%;
}
.Sills-h1{
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
    margin: 1%;
}
.ul{
    width:100%;
}
.card{
    margin:2%;
    width:50%
}